* { 
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    h2 {
      font-size: 1.2rem; /* Tamanho menor para telas pequenas */
    }
  
    .btn-lg {
      font-size: 0.9rem;
      padding: 0.4rem 0.8rem;
    }
  }

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
}


.container {
    display: flex;
    justify-content: flex-start; /* Espaça os itens à esquerda e à direita */
    align-items: center; /* Alinha os itens verticalmente */
}

.logo {
    width: 250px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
}
.logo-nome {
    width: 300px; /* Ajuste o tamanho da imagem */
    height: auto; /* Mantém a proporção da imagem */
    float: left; /* Faz a imagem flutuar à esquerda */
}

/* Em css3/estilo.css */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* ANIMAÇÃO LOGO */
 .animada {
      position: relative;
      right: -800px;
      opacity: 0;
      animation: entrar 1.6s linear forwards;
    }

    @keyframes entrar {
      to {
        right: 0;
        opacity: 1;
      }
    }
    
.nav-link.btn {
  display: inline-flex;
  align-items: center; /* alinha verticalmente */
  min-width: 130px; /* define largura mínima fixa, ajuste conforme quiser */
  justify-content: center; /* centraliza conteúdo */
}

#contador {
  margin-left: 8px; /* espaço entre texto e número */
  color: red;
  
}